svg.icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    opacity: 0.8;
    background-color: teal;
    border-radius: 50%;
    fill: white;
}

.btn-flat {
    font-size: 0.85em;
    border: none;
    background-color: transparent;
    display: inline-block;
    height: 3rem;
    cursor: pointer;
    padding: 0px 0 0 2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 3rem;
    text-transform: uppercase;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-ok {
    color: #00796B;
}
.btn-cancel {
    color: rgb(51, 51, 51);
}

.btn-flat.disabled {
    color: #b3b3b3;
}

.invalid[ng-message] {
    background-color: hsl(0, 40%, 80%);
    color: #a94442;
    border: 1px solid hsl(0, 44%, 70%);
    padding: 0.3em 1em;
    display: block;
    border-radius: 3px;
}