<div layout="row">
    <div flex="25"></div>
    <div flex="50" layout="column" class="login">
        <h3>Faça o login</h3>
        <form layout="column" name="loginForm" ng-submit="loginForm.$valid && vm.submit()" novalidate="">
            <md-text-float layout-fill form-reset label="Nome de usuário" type="text" name="username" ng-model="vm.login.UserName" required></md-text-float>
            <ng-messages class="alert-danger" for="loginForm.username.$error" ng-if="loginForm.username.$touched">
                <ng-message when="required">Por favor, entre com o nome de usuário.</ng-message>
            </ng-messages>

            <md-text-float layout-fill form-reset label="Senha" type="password" name="password" ng-model="vm.login.Password" required></md-text-float>
            <ng-messages class="alert-danger" for="loginForm.password.$error" ng-if="loginForm.password.$touched">
                <ng-message when="required">Por favor, entre com a senha.</ng-message>
            </ng-messages>

            <md-button type="submit" class="md-primary">Enviar</md-button>
        </form>
    </div>
    <div flex="25"></div>
</div>